polkit.addRule(function(action, subject) {
    if (
        action.id == "org.freedesktop.login1.power-off-ignore-inhibit" ||
        action.id == "org.freedesktop.login1.reboot-ignore-inhibit" ||
        action.id == "org.freedesktop.login1.suspend-ignore-inhibit"
    ) {
        if (subject.isInGroup("wheel")) {
            return polkit.Result.YES;
        }
    }
});
